body {
  background-color: black;
  font-family: 'IM Fell English SC', serif;
}

.foo {
  border: 3px white solid;
  margin: 0 auto;
  padding: 30px;
  width: 700px;
  background: #4BC36B;
  border-radius: 15px;
  transition: width .3s;
  color: white;
}


.foo:hover {
  font-size: 20px;
  color: orange;
}
